<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="col-4 contatti d-none d-md-block">
        <h3>Contattaci</h3>
        <span>
            2much@waste.com<br>
            +39 321 123 4567<br>
            Via dell'Università, 50, Cesena
          </span>
      </div>

      <div class="col-12 col-md-4 copyright">
        <span>&copy; 2023 2MuchWaste. All Rights Reserved.</span>
      </div>

      <div class="col-4 chi-siamo d-none d-md-block">
        <h3>
          <a>Chi siamo</a>
        </h3>
      </div>
    </div>

  </div>
</footer>
