<form class="example-form" (ngSubmit)="checkAndSubmit()">
  <div class="row gx-0">
    <div class="col-lg-5">
      <p>INSERIRE NOME GRANDE O LOGO</p>
      <p>2Much</p>
      <p>Waste</p>
    </div>
    <div class="col-lg-7">

      <div class="row gx-0">

        <!------ MAIL ------>

        <mat-form-field class="example-full-width col-12">
          <mat-label class="label-mat-form">Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Inserire un indirizzo mail <strong>valido</strong>
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            L'indirizzo mail è <strong>richiesto</strong>
          </mat-error>
        </mat-form-field>

        <!------ PASSWORD ------>

        <mat-form-field class="col-12">
          <mat-label class="label-mat-form">Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput [formControl]="passwordFormControl">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="passwordFormControl.hasError('required')">
            La password è <strong>richiesta</strong>
          </mat-error>
        </mat-form-field>

        <!------- ROLE -------->

        <mat-form-field class="col-12">
          <mat-label>Ruolo</mat-label>
          <mat-select yPosition="below" [formControl]="roleFormControl">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="customer">Cliente</mat-option>
            <mat-option value="operator">Operatore</mat-option>
          </mat-select>
          <mat-error *ngIf="roleFormControl.hasError('required')">
            Il ruolo è <strong>richiesto</strong>
          </mat-error>
        </mat-form-field>

        <a routerLink='/signup' class="col-12 not-registered-link">Non hai un account? Registrati qui!</a>
        <button class="col-12 signin application-button" mat-raised-button color="primary">Accedi</button>
      </div>
    </div>
  </div>
</form>
