<h1 mat-dialog-title>Elenco bidoni nelle vicinanze</h1>
<div mat-dialog-content>
  <ng-container *ngIf="nearestDumpstersSet && !showMap; else loadingTemplate">
    <p *ngFor="let dump of userInfoService.nearestDumpsters | slice: lowValue: highValue">{{dump.dumpster.address}}
      , {{dump.dumpster.city}} - {{dump.dumpster.type}}, distance: {{dump.distance.toFixed(2)}}</p>
    <mat-divider></mat-divider>

    <button class="col-6 application-button-primary" mat-raised-button color="primary"
            [disabled]="lowValue<=0"
            (click)="movePageDumpsters(-1)"><
    </button>

    <button class="col-6 application-button-primary" mat-raised-button color="primary"
            [disabled]="highValue>=userInfoService.nearestDumpsters.length"
            (click)="movePageDumpsters(1)">>
    </button>

    <button class="col-12 application-button-primary" mat-raised-button color="primary"
            (click)="showDumpstersOnMap()">
      Guardali sulla mappa
    </button>
  </ng-container>
  <ng-template #loadingTemplate>
    Caricamento...
  </ng-template>
  <ng-container *ngIf="showMap">
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </ng-container>
  <!--  <p *ngFor="let dump of dumpsters">{{dump.dumpster.address}}, {{dump.dumpster.city}} - {{dump.dumpster.type}}, distance: {{dump.distance.toFixed(2)}}</p>-->
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Chiudi</button>
</div>
