<div class="container">
  <div class="row">
    <div class="col">
      <h1>Bentornato {{this.user.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Questo mese hai scaricato {{this.rubbishThrowing}} volte i rifiuti.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Il debito attualmente accumulato è pari {{this.cumulativeDebt}}€</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        class="throwing">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
