<div class="container">
</div>
  <div class="row">
    <div class="col">
      <h1>Bentornato {{this.user.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Hai svuotato in data il bidone {{this.garbagebin}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        class="throwing"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

