<div class="row user-payments-row" *ngIf="totalDebit">
  <div class="col-12 user-payments-col">
    <div class="row debit align-items-center fs-2">
      <div class="col-12 debit-header text-center">
        <span>Debito attuale</span>
      </div>
      <div class="col-12 debit-value-col text-center">
        <span class="debit-value">-{{(totalDebit - totalAlreadyPaid).toFixed(2)}}€</span>
      </div>
    </div>

    <div class="d-none d-sm-block">
      <div class="row table-row-headers list-item-headers">
        <div class="col-4 date-header">DATA</div>
        <div class="col-4">STATO</div>
        <div class="col-4 text-header text-end">IMPORTO</div>
      </div>
    </div>

    <!--  <ng-container *ngFor="let noti of (this.userInfoService.user.notifications | slice: lowValue : highValue)">-->
    <ng-container *ngFor="let payment of (userInfoService.payments | slice: lowValue : highValue)">
      <div class="row usernotification-list-item">
        <div class="col-6 col-sm-4 order-sm-2 text-larger status-value">{{payment.status.charAt(0).toUpperCase()+payment.status.slice(1)}}</div>
        <div class="col-6 col-sm-4 order-sm-3 text-larger price-value">{{payment.value}}€</div>
        <div class="col col-sm-4 order-sm-1 date-value">{{payment.invoiceIssueDate | date : "YYYY-MM-dd HH:mm" }}
        </div>
        <mat-divider></mat-divider>
      </div>

    </ng-container>

    <mat-paginator [length]="userInfoService.payments.length"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 30]"
                   (page)="getPaginatorData($event)"
                   color="warn"
                   aria-label="Seleziona la pagina" *ngIf="totalDebit">
    </mat-paginator>
    <button class="col-12 bground-btn-dgreen" mat-raised-button color="primary"
            (click)="payDebit(totalDebit-totalAlreadyPaid)">Salda il conto
    </button>
  </div>
  <div class="col-12 warnings">
    <p>NOTA: L'ammontare dei pagamenti non verrà considerato ai fini del debito finché non verranno classificati come completati. Vi invitiamo a non effettuarne ulteriori sino a che quelli precedenti non risultino completati.</p>
  </div>

</div>
