<h1>{{title}}</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{message}}

      </div>
      <div class="col-12">
        <!--  Stai per effettuare un pagamento di {{amountToPay}}, sicurƏ di procedere?-->
<!--        <mat-progress-spinner-->
          <mat-progress-spinner *ngIf="paymentLoading"
          class="example-margin dgreen-stroke payment-spinner"
          mode="indeterminate"
        >
          <!--    color="warn"-->
          <!--    [value]="value"-->
        </mat-progress-spinner>
      </div>
      <div class="col-12 icon-payment-result" *ngIf="paymentDone">
        <img src="assets/icons/green-check-icon.png" alt="" width="80px" height="auto">
      </div>
      <div class="col-12 icon-payment-result" *ngIf="paymentError">
        <img src="assets/icons/red-x-mark-icon.png" alt="" width="80px" height="auto">
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial [disabled]=paymentLoading>Chiudi</button>
  <button mat-button (click)="pay()" *ngIf="justStart">Paga</button>
</mat-dialog-actions>
