main {
  padding: 80px 20px 270px;
}

.application-button {
  background-color: #40513B;
  color: #EDF1D6
}

button.signin, button.signup {
  margin: 10px 0;
}

.not-registered-link, .already-registered-link {
  color: #605c60;
  margin: 10px 0;
  text-align: center;
}

