.user-name > span {
  padding-top: 0;
}

.user-name {
  font-size: xx-large;
  padding-top: 25px;
  font-weight: bolder;
}

.col-12.text-center.user-mail {
  margin: 15px 0;
  color: rgb(80, 80, 80);
}

.col-12.user-data {
  margin: 10px 0;
  font-size: larger;
}
