<div *ngIf="allNotifications" class="row operator-notification-row">
  <div class="col operator-notification-col">
    <div class="d-none d-md-block">
      <div class="row table-row-headers list-item-headers">
        <div class="col-3">PROBLEMA</div>
        <div class="col-3 date-header">STATO</div>
        <div class="col-3 text-header">BIDONE</div>
        <div class="col-3 text-header">TIPO</div>
      </div>
    </div>


    <ng-container *ngFor="let noti of (notifications | slice: lowValue : highValue)">

      <div class="row operatornotification-list-item">
        <div class="col-12 col-sm-3 order-sm-3">
          {{noti.dumpster.address + ", " + noti.dumpster.city}}
        </div>
        <div class="col-4 col-sm-3 order-sm-1">
          {{DumpsterErrorTypeManager.getItalianType(noti.operatorNotification.type)}}
        </div>
        <div class="col-4 col-sm-3 order-sm-2">
          {{OperatorNotificationStatusManager.getItalianStatus(noti.operatorNotification.status)}}
        </div>
        <div class="col-4 col-sm-3 order-sm-4">
          {{TrashTypeManager.getItalianName(noti.dumpster.type)}}
        </div>
        <mat-divider></mat-divider>
      </div>

    </ng-container>
    <mat-paginator [length]="notifications.length"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 30]"
                   (page)="getPaginatorData($event)"
                   aria-label="Seleziona la pagina" #prova *ngIf="notifications" #matPaginator>
    </mat-paginator>
    <div class="row">

      <div class="col-md-6">
        <button class="col-12 bground-btn-dgreen manage-read" mat-raised-button color="primary"
                (click)="filterNotificationsRead()">
          <ng-container *ngIf="showEvenInProgressComplete; else notShowReadNotifications">
            Mostra quelle da prendere in carico
          </ng-container>
          <ng-template #notShowReadNotifications>
            Mostra tutte
          </ng-template>
        </button>
      </div>

      <div class="col-md-6">
        <button class="col-12 bground-btn-dgreen manage-read" mat-raised-button color="primary"
                [disabled]="notificationToTickAsRead.size<=0">
          Segna come effettuate
        </button>
      </div>
    </div>
  </div>
</div>
