.agency-name > span {
  padding-top: 0;
}

.agency-name {
  font-size: xx-large;
  padding-top: 10px;
  font-weight: bolder;
}

.col-12.logo{
  margin: 10px 0;
}

.col-12.agency-information {
  margin: 10px 0;
  font-size: larger;
}

