<div class="row">
  <div class="col-12 logo" style="text-align: center">
    <img src="assets/icons/logo-circle.png" alt="Logo of agency" width="250px" height="auto">
  </div>
  <div class="col-12 text-center agency-name">
    <span>2MUCHWASTE</span>
  </div>
  <div class="col-12 text-center">
    <div class="row">
      <div class="col-12 agency-information">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus quam eros, ut imperdiet magna
          scelerisque at. Vestibulum et eros et tellus pulvinar aliquet. Integer sollicitudin eleifend tellus sit amet
          suscipit. Nullam at imperdiet turpis. Nam tempor erat turpis. Class aptent taciti sociosqu ad litora torquent
          per conubia nostra, per inceptos himenaeos. Aenean ac lacus lorem. Sed malesuada nunc ac massa consequat
          lobortis. Praesent laoreet nulla augue, et ultricies est consectetur dignissim.</p>

        <p>Nam velit nulla, venenatis eu ex iaculis, venenatis feugiat tortor. Sed a dictum nibh. Suspendisse lobortis
          sapien vel neque tempor, vitae malesuada nulla sollicitudin. Nam nec lorem sit amet augue commodo ultricies
          sit amet at sem. Etiam nec purus facilisis, convallis lectus in, placerat tellus. Vestibulum eu dolor eu metus
          condimentum ultrices. Quisque bibendum ac risus at suscipit. Nullam hendrerit lacinia enim, et vehicula justo
          ullamcorper vel. Ut ullamcorper arcu erat, at dapibus ante mattis eget.</p>

        <p>Sed augue ipsum, fringilla in iaculis varius, ornare et risus. Nullam viverra augue id elit tempor feugiat.
          Donec bibendum consectetur malesuada. Vivamus ultricies arcu ut sem tincidunt consectetur. Proin luctus
          maximus ullamcorper. Phasellus ultrices enim et purus euismod eleifend. Duis lacinia luctus justo, a sagittis
          turpis rutrum sed. Etiam tristique sed mauris non dapibus. Nunc tincidunt nunc in eros tempor, non varius
          ipsum laoreet. Duis accumsan efficitur tortor, quis consequat leo tristique ut.</p>
      </div>
    </div>
  </div>
</div>
