.row {
  width: 100%;
}

.data-header {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  //text-align: center;
}

.quantity-header,.quantity-value,.price-header,.price-value{
  text-align: end;
}

.list-item-headers {
  background-color: rgba(216, 222, 191, .3);
}
