<div class="row userdeposits-row" *ngIf="userDeposits">
  <div class="col userdeposits-col">
    <div class="d-none d-md-block">
      <div class="row table-row-headers list-item-headers">
        <div class="col-4 date-header data-header">DATA</div>
        <div class="col-3 type-header data-header">TIPO</div>
        <div class="col-2 quantity-header data-header">PESO</div>
        <div class="col-3 price-header data-header">PREZZO</div>
      </div>
    </div>
    <ng-container *ngFor="let deposit of (userDeposits | slice: lowValue : highValue)">
      <div class="row userdeposit-list-item">
        <div class="col-5 col-sm-3 order-sm-2 type-value">{{trashTypesManager.getItalianName(deposit.type)}}</div>
        <div class="col-3 col-sm-2 order-sm-3 quantity-value">{{deposit.quantity}} Kg</div>
        <div class="col-4 col-sm-3 order-sm-4 price-value">{{deposit.price.toFixed(2)}} €</div>
        <div class="col-12 col-sm-4 order-sm-1 date-value">{{deposit.date | date : "YYYY-MM-dd HH:mm" }}
        </div>
        <mat-divider></mat-divider>
      </div>
    </ng-container>
    <mat-paginator [length]="userDeposits.length"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 30]"
                   (page)="getPaginatorData($event)"
                   color="warn"
                   aria-label="Seleziona la pagina">
    </mat-paginator>
  </div>
</div>
