$darkgreen-application: #33402f;

$width-max-sm: 575px;
$width-max-md: 767px;

body, .mat-paginator-container {
  background-color: #fcfacf;
}

.bground-btn-dgreen {
  background-color: #696c43 !important;
}

// Add dashed border to see which element has focus for accessibility
*:focus {
  outline: 3px dashed #b46f1f !important;
  outline-offset: 3px!important;
}

// Color for notification number
.mat-badge-content {
  background: saddlebrown;
}

button.application-button-primary {
  background-color: #696c43 !important;
  color: #EDF1D6;
  margin: 5px 0;
}

.dgreen-bground {
  background-color: $darkgreen-application !important;
}

.margin-upside-down-application{
  margin: 5px 0 !important;
}

.dgreen-stroke {
}

.light-green-application-foreground {
  color: #fcfacf;
}

/////////////////
/// Legend monthly cost
/////////////////
.canvasjs-chart-tooltip > div > br {
  display: none;
}

.not-in-tool-tip {
  display: none;
}

/////////////////
// Application Spinners
////////////////

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $darkgreen-application;
}

.payment-spinner {
  margin: 0 auto;
}

//////////////////
///// Operator map
/////////////////

.empty-button-map{
  border: none;
  border-radius: 5px;
  padding: 8px 0;
  font-size: larger;
  font-family: fantasy;
}

//////////////////
// Little screen
//////////////////

@media screen and (max-width: $width-max-sm) {
  .container {
    padding: 0;
  }
}

@media screen and (max-width: $width-max-md) {
  .container {
    max-width: unset !important;
  }
}
