$darkgreen-application: #33402f;

body, .mat-paginator-container {
  background-color: #fcfacf;
}

// Color for notification number
.mat-badge-content {
  background: saddlebrown;
}

button.application-button-primary {
  background-color: #898d4e !important;
  margin: 5px 0;
}

.dgreen-bground {
  background-color: $darkgreen-application;
}

.dgreen-stroke {
}

.light-green-application-foreground {
  color: #fcfacf;
}

/////////////////
// Application Spinners
////////////////

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $darkgreen-application;
}

.payment-spinner {
  margin: 0 auto;
}

//////////////////
// Little screen
//////////////////

@media screen and (max-width: 575px) {
  .container {
    padding: 0;
  }
}
