<div class="container">
  <div class="row">
    <div class="col">
      <h1>Benvenuto in 2MatchWaste</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Prima di procedere dire se sei un cliente o uno dei nostri operatori.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button [routerLink]="'/signup'" type="button" class="btn btn-primary">Cliente</button>
    </div>
    <div class="col-md-6">
      <button [routerLink]="'/signoper'" type="button" class="btn btn-primary">Operatore</button>
    </div>
  </div>
</div>
